
on early-boot
    chmod 660 /proc/cpgge/wdtirq
    chmod 660 /proc/cpgge/stop
    chmod 660 /proc/cpgge/start
    chmod 660 /proc/cpgge/modem
    chmod 660 /proc/cpgge/dsp

    chown system root /proc/cpgge/wdtirq
    chown system root /proc/cpgge/stop
    chown system root /proc/cpgge/start
    chown system root /proc/cpgge/modem
    chown system root /proc/cpgge/dsp

    chmod 660 /proc/cptl/wdtirq
    chmod 660 /proc/cptl/stop
    chmod 660 /proc/cptl/start
    chmod 660 /proc/cptl/modem
    chmod 660 /proc/cptl/tgdsp
    chmod 660 /proc/cptl/ldsp
    chmod 660 /proc/cptl/warm
    chmod 660 /proc/cptl/fixnv
    chmod 660 /proc/cptl/runnv

    chown system root /proc/cptl/wdtirq
    chown system root /proc/cptl/stop
    chown system root /proc/cptl/start
    chown system root /proc/cptl/modem
    chown system root /proc/cptl/ldsp
    chown system root /proc/cptl/tgdsp
    chown system root /proc/cptl/warm
    chown system root /proc/cptl/fixnv
    chown system root /proc/cptl/runnv

on post-fs-data
    mkdir /data/local/tmp/slogmodem 0770 shell system
    mkdir /data/modem_log 0770 shell system

on boot
    insmod /lib/modules/focaltech_ts.ko

    chmod 666 /dev/ttyS0
    chmod 660 /proc/bluetooth/sleep/proto
    chmod 660 /sys/class/rfkill/rfkill0/state
    chmod 660 /sys/class/rfkill/rfkill0/type
    chmod 660 /proc/bluetooth/sleep/btwrite
    chmod 660 /sys/devices/70000000.uart/uart_conf
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/proto
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /sys/devices/70000000.uart/uart_conf
    chown media system /sys/class/flash_test/flash_test/flash_value

    chown bluetooth shell /productinfo/connectivity_configure.ini
    chown bluetooth bluetooth /system/etc/connectivity_configure.ini
    chmod 666 /productinfo/connectivity_configure.ini
    chmod 666 /system/etc/connectivity_configure.ini

    chown wifi shell /productinfo/connectivity_calibration.ini
    chown wifi wifi /system/etc/connectivity_calibration.ini
    chmod 660 /productinfo/connectivity_calibration.ini
    chmod 660 /system/etc/connectivity_calibration.ini


    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/system 0770 system system
    mkdir /etc/wifi 0770 wifi wifi
    write /data/misc/wifi/fwpath sta_mode
    chmod 660 /data/misc/wifi/fwpath
    chown wifi wifi /data/misc/wifi/fwpath
    rmdir /data/system/wpa_supplicant
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    #to observe dnsmasq.leases file for dhcp information
    chown dhcp system /data/misc/dhcp
    setprop wifi.interface wlan0
    mkdir /data/misc/dhcp6c 0770 dhcp dhcp
    chown dhcp system /data/misc/dhcp6c

    mkdir /data/cg/ 0777 system system
    mkdir /data/cg/online 0777 system system
    mkdir /data/cg/supl 0777 system system
    chmod 660 /dev/ttyV1
    chmod 660 /dev/ttyV0
    chmod 777 /system/etc/GPSenseEngine.xml
    chmod 777 /data/cg/online/HiMap.db
    chmod 777 /data/cg/online/Almanac.cg
    chmod 777 /system/bin/GPSenseEngine
    setprop gps.port ttyV1

service download /system/bin/download
    class core
    user system
    group system shell wifi bluetooth
    oneshot

service GPSenseEngine /system/bin/GPSenseEngine
     class main
     user root
     group root
     disabled

service hfag /system/bin/sdptool add --channel=10 HFAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service btld  /system/bin/btld -lpm 0 -hb 3000000
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -I/system/etc/wifi/wpa_supplicant_overlay.conf -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0 -dd
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -g@android:wpa_wlan0 -dd
    group system wifi inet keystore
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    group system dhcp
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -ABKL
    group system dhcp
    disabled
    oneshot

service dhcpcd_ipv6 /system/bin/dhcpcd -6ABKL
    group system dhcp
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    group system dhcp
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    group system dhcp
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
   disabled
   oneshot

service dhcp6c_wifi /system/bin/dhcp6c -c /data/misc/dhcp6c/dhcp6c.conf
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    disabled
    oneshot

service slogmodem /system/bin/slogmodem
    class main
    user shell
    group system sdcard_rw media_rw

on alarm
    insmod /lib/modules/focaltech_ts.ko

service healthd-charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0


# chown for engineermode
chown system system /sys/module/smsg/parameters/assert_trigger
chown system system /sys/power/avs_log
